{% extends "base.html" %}
{% block head %}
<title class="content">Delete Book</title>
{% endblock %}

{% block header %} 
Delete Book 
{% endblock %}

{% block body %}
<div class="form-container">
    <h2>Are you sure you want to delete this book?</h2>
    <p><strong>Title:</strong> {{ book.title }}</p>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Genre:</strong> {{ book.genre }}</p>
    <p><strong>Price:</strong> {{ book.price }}</p>
    <form action="/delete/{{ book.id }}" method="POST">
        <button type="submit">Delete</button>
        <a href="/">Cancel</a>
    </form>
</div>
{% endblock %}
